name: Vercel Production Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: team_mqTjX9Ni0MqzgQbt9Jsx0PeJ
      VERCEL_PROJECT_ID: prj_vNt4TG4iDpUR81mrl0Kvqjb3peQZ
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      
      - name: Deploy to Vercel
        run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }} --yes
